# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

.idea/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/dk-foundation-engine/target/
/dk-foundation-engine-sharding-jdbc/target/
/dk-foundation-engine-declare-datasource/target/
dk-foundation.iml
/dk-foundation-engine/dk-foundation-engine.iml
/dk-foundation-engine-sharding-jdbc/dk-foundation-engine-sharding-jdbc.iml
/dk-foundation-engine-declare-datasource/dk-foundation-engine-declare-datasource.iml